<% include header %>

<h4>
    Hello <%= current_user %>
</h4>

<h2>Thread</h2>

<div class="container-fluid">
    <div class="form-group row">
        <label class="input-group-text col-sm-2">Title:</label>
        <label class="input-group-text col-sm-10">
            <%= threads.title %>
        </label>
    </div>
    
    <div class="form-group row">
            <label class="input-group-text col-sm-2">Author:</label>
            <label class="input-group-text col-sm-10">
                <%= threads.author.username %>
            </label>
    </div>
    <% if (threads.image) { %>
        <div class="form-group row">
            <label class="input-group-text col-sm-2">Image:</label>
            <img src="/images/<%= threads.image %>" alt="No Thread Image Found" class="input-group-text col-sm-10">
        </div>
    <% } %>
    
    <div class="form-group row">
        <label class="input-group-text col-sm-2">Content:</label>
        <textarea class="input-group-text col-sm-10" rows="5" disabled>
            <%= threads.body %>
        </textarea>
    </div>
</div>

<div class="form-group row float-right">
    <% if (threads.author._id.equals(user_id)) { %>
        <div class="form-group">
            <a href="/threads/editThread/<%= threads._id %>" class="btn btn-warning float-right">
                Edit Thread
            </a>
        </div>
            
        <div class="form-group">
            <a href="/threads/deleteThread/<%= threads._id %>" class="btn btn-danger float-right">
                Delete Thread
            </a>
        </div>
    <% } %>
</div>

<div class="form-group">
    <label class="input-group-text col-sm-2 row">Comments:</label>
    <label class="form-group row">
        <% if (threads.comments.length) { %>
            <% threads.comments.forEach(function(entry) { %>
                <div class="border border-primary float-right col-sm-10">
                    <label class="list-group-item list-group-item-action" name="selectedStudent" id="selectedStudent">
                        <label class="input-group-text col-sm-2">
                            <%= entry.author.username%>
                        </label>
                        <div class="form-group">
                            <%= entry.comment%>
                        </div>
                    </label>
                </div>

                <% if (entry.author._id.equals(user_id)) { %>
                    <div class="form-group float-right">
                        <a href="/threads/viewThread/<%= threads._id %>/deleteComment/<%= entry._id %>" class="btn btn-danger float-right">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>

                    <div class="form-group float-right">
                        <a href="/threads/viewThread/<%= threads._id %>/editComment/<%= entry._id %>" class="btn btn-warning float-right">
                            Edit
                        </a>
                    </div>
                <% } %>
            <% }) %>
        <% } else { %>   
            No Comments found!
        <% } %>
    </label>
</div>

<form method="post" role="form" action="/threads/viewThread/<%= threads._id %>/postComment">
    <div class="form-group row">
        <label for="comment" class="input-group-text col-sm-2">Post Comment:</label>
        <textarea type="text" class="form-control" id="comment" name="comment" placeholder="Enter Comment here..." rows="5" required></textarea>
    </div>

    <div class="form-group float-right">
        <input type="submit" value="Post Comment" class="btn btn-primary">
    </div>
</form>

<% include footer %>