<% include header %>

<h2>Thread</h2>

<div class="form-group row">
    <label class="input-group-text col-sm-2">Title:</label>
    <label class="input-group-text col-sm-10">
        <%= threads.title %>
    </label>
</div>

<div class="form-group row">
    <label class="input-group-text col-sm-2">Image:</label>
    <label class="input-group-text col-sm-10">
        <%= threads.image %>
    </label>
</div>

<div class="form-group row">
    <label class="input-group-text col-sm-2">Content:</label>
    <textarea class="input-group-text col-sm-10" rows="5" disabled>
        <%= threads.body %>
    </textarea>
</div>

<div class="form-group">
    <label class="input-group-text col-sm-2 row">Comments:</label>
    <label class="form-group row">
        <% if (threads.comments.length) { %>
            <% threads.comments.forEach(function(entry) { %>
                <div class="input-group-text float-right col-sm-10">
                    <label class="list-group-item list-group-item-action" name="selectedStudent" id="selectedStudent">
                        <!-- <div>
                            <%= entry.author%>
                        </div> -->

                        <div class="form-group">
                            <%= entry.comment%>
                        </div>
                    </label>
                </div>

                <div class="form-group float-right">
                    <a href="/threads/viewThread/<%= threads.title %>/deleteComment/<%= entry._id %>" class="btn btn-danger float-right">
                        Delete
                    </a>
                </div>

                <div class="form-group float-right">
                    <a href="/threads/viewThread/<%= threads.title %>/editComment/<%= entry._id %>" class="btn btn-warning float-right">
                        Edit
                    </a>
                </div>
            <% }) %>
        <% } else { %>   
            No Comments found!
        <% } %>
    </label>
</div>




<form method="post" role="form" action="/threads/viewThread/<%= threads.title %>/postComment">
        <!-- <h3><%= threads.title %></h3> -->

    <div class="form-group row">
        <label for="comment" class="input-group-text col-sm-2">Post Comment:</label>
        <textarea type="text" class="form-control" id="comment" name="comment" placeholder="Enter Comment here..." rows="5" required></textarea>
    </div>

    <div class="form-group float-right">
        <input type="submit" value="Post Comment" class="btn btn-primary">
    </div>
</form>


<% include footer %>